[submodule "software/gemmini-rocc-tests"]
	path = software/gemmini-rocc-tests
  #url = https://github.com/ucb-bar/gemmini-rocc-tests.git
  #url = git@github.com:ssteffl/ee290hw4ml-lab3-software.git
  url = git@github.com:QuarantineGemmini/gemmini-rocc-tests.git
